<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.dao.sso.AppDao">

    <resultMap id="App" type="com.smart.domain.sys.App" >
        <result column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="order_num" property="orderNum" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `code`,
        `name`,
        `order_num`,
        `del_flag`
    </sql>

    <insert id="insert" parameterType="com.smart.domain.sys.App" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app (
        `code`,
        `name`,
        `order_num`,
        `del_flag`
        )
        VALUES(
        #{code},
        #{name},
        #{orderNum},
        #{delFlag}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM app
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="com.smart.domain.sys.App" >
        UPDATE app
        <set>
            <if test="code != null">`code` = #{code}, </if>
            <if test="name != null">`name` = #{name}, </if>
            <if test="orderNum != null">`order_num` = #{orderNum}, </if>
            <if test="delFlag != null">`del_flag` = #{delFlag}</if>
        </set>
        where id = #{id}
    </update>


    <select id="get" resultType="com.smart.domain.sys.App">
        SELECT    `id`, `code`, `name`, `order_num`, `del_flag` FROM app
        WHERE `id` = #{id}
    </select>

    <select  id="condition" resultType="com.smart.domain.sys.App">
        SELECT `id`, `code`, `name`, `order_num`, `del_flag` FROM app
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="code != null and code != ''"> and code = #{code} </if>
            <if test="name != null and name != ''"> and name = #{name} </if>
            <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="App">
        SELECT <include refid="Base_Column_List" />
        FROM app
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="count" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM app
    </select>

</mapper>
